<section class="section" style="max-width: 370px;">

    <div class="mb-3 text-center">
        <a href="/"><img src="img/logo-cdm0-edit.png" alt="logo casa del maestro" width="72" class="mb-3"></a>
        <h1 class="h3" style="font-weight: 300;">Restablecer su contraseña</h1>
    </div>

    <?php if($sentSuccessfully): ?>
    <p>Revise su correo electrónico para encontrar un enlace para restablecer su contraseña. Si no aparece en unos minutos, revise su carpeta de spam.</p>
    <a href="/usuario_login.php" class="btn btn-success btn-block">Volver a inicio de sesión</a>
    <?php else: ?>
    <p class="text-justify" style="font-weight: 600;">Ingrese la dirección de correo electrónico de su cuenta de
        usuario y le enviaremos un enlace para restablecer la contraseña.</p>

    <form action="" method="POST" name="forgot_password">
        <input type="hidden" name="token" value="<?= Token::csrf(); ?>" readonly spellcheck="false" autocomplete="off"
            autocorrect="off" autocapitalize="off">
        <!-- E-mail del usuario o número de documento -->
        <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off"
                class="form-control <?= isset($errors['email']) ? 'is-invalid' : ''; ?>" type="email"
                name="email" id="email" value="<?= $usuario['email']; ?>">
            <div class="invalid-feedback"><?= $errors['email'] ?? '' ?></div>
        </div>

        <button type="submit" class="btn btn-success btn-block">Enviar correo electrónico</button>
    </form>

    <p class="text-center mt-4 mb-0 fs-14">¿Recuerda su contraseña?<a href="/usuario_login.php"> Inicie sesión</a></p>
    <?php endif; ?>

</section>