<section class="section" style="max-width: 450px;">
    <div class="mb-3">
        <h1 class="h2">Nuevo Usuario</h1>
    </div>

    <?php if (!$registerSuccess): ?>
    <div class="alert alert-info text-center" role="alert">
        No pudimos registrar el usuario. Por favor, intentelo más tarde.
    </div>
    <?php endif; ?>

    <form action="/usuario_register.php" method="POST">
        <input type="hidden" name="token" value="<?= Token::csrf(); ?>" readonly spellcheck="false" autocomplete="off"
            autocorrect="off" autocapitalize="off">
        <div class="form-row">
            <!-- Apellido -->
            <div class="form-group col-md-6">
                <label for="apellido">Apellidos <span class="required">*</span></label>
                <input type="text" class="form-control <?= isset($errors['apellido']) ? 'is-invalid' : ''; ?>" name=""
                    id="apellido" value="<?= $usuario['apellido']; ?>" spellcheck="false" autocomplete="off"
                    autocorrect="off" autocapitalize="off" maxlength="40">
                <div class="invalid-feedback"><?= $errors['apellido'] ?? ''; ?></div>
            </div>
            <!-- Nombre -->
            <div class="form-group col-md-6">
                <label for="nombre">Nombres <span class="required">*</span></label>
                <input type="text" class="form-control <?= isset($errors['nombre']) ? 'is-invalid' : ''; ?>"
                    name="nombre" id="nombre" value="<?= $usuario['nombre']; ?>" spellcheck="false" autocomplete="off"
                    autocorrect="off" autocapitalize="off" maxlength="40">
                <div class="invalid-feedback"><?= $errors['nombre'] ?? ''; ?></div>
            </div>
        </div>

        <!-- Número de documento -->
        <div class="form-group">
            <label for="usuario">Número de documento (ocho dígitos) <span class="required">*</span></label>
            <input type="text" class="form-control <?= isset($errors['usuario']) ? 'is-invalid' : ''; ?>" name="usuario"
                id="usuario" value="<?= $usuario['usuario']; ?>" data-toggle="tooltip" data-placement="left"
                title="Completar con ceros a la izquierda si es necesario" spellcheck="false" autocomplete="off"
                autocorrect="off" autocapitalize="off">
            <div class="invalid-feedback"><?= $errors['usuario'] ?? ''; ?></div>
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="email">Correo electrónico <span class="required">*</span></label>
            <input type="email" class="form-control <?= isset($errors['email']) ? 'is-invalid' : ''; ?>" name="email"
                id="email" value="<?= $usuario['email']; ?>" spellcheck="false" autocomplete="off" autocorrect="off"
                autocapitalize="off">
            <div class="invalid-feedback"><?= $errors['email'] ?? ''; ?></div>
        </div>

        <div class="form-row">
            <!-- Contraseña -->
            <div class="form-group col-md-6">
                <label for="password">Contraseña <span class="required">*</span></label>
                <input type="password" class="form-control <?= isset($errors['password']) ? 'is-invalid' : ''; ?>"
                    name="password" id="password" value="<?= $usuario['password']; ?>" data-toggle="tooltip"
                    data-placement="left"
                    title="Utiliza ocho caracteres como mínimo con una combinación de letras, números y símbolos"
                    spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">
                <div class="invalid-feedback"><?= $errors['password'] ?? ''; ?></div>
            </div>

            <!-- Confirmar contraseña -->
            <div class="form-group col-md-6">
                <label for="confirm-password">Confirmación <span class="required">*</span></label>
                <input type="password"
                    class="form-control <?= isset($errors['confirm_password']) ? 'is-invalid' : ''; ?>"
                    name="confirm_password" id="confirm-password" value="" spellcheck="false" autocomplete="off"
                    autocorrect="off" autocapitalize="off">
                <div class="invalid-feedback"><?= $errors['confirm_password'] ?? ''; ?></div>
            </div>
        </div>

        <!-- CHECKBOX Mostrar contraseña -->
        <div class="form-group">
            <input type="checkbox" id="show-password" style="position: relative; top: 2px;height: 16px;width: 16px;">
            <label for="show-password" style="font-weight: normal;">Mostrar contraseña</label>
        </div>

        <button class="btn btn-success btn-block" type="submit">Crear usuario</button>

    </form>
    <p class="mt-4 text-center">
        <a href="/usuario_login.php">¿Ya tienes una cuenta?</a>
    </p>
</section>

<script>
    // https://wai-tutorials.netlify.app/tutorials/forms/notifications/
    /**
     * Enfoque 1: despues de enviar el formulario
     * Enfoque 2: durante la escritura o tipificación
     * Enfoque 3: en el cambio de enfoque
     **/
    const email = document.querySelector("input#email");
    const usuario = document.querySelector("input#usuario");
    const apellido = document.querySelector("input#apellido");
    const nombre = document.querySelector("input#nombre");

    const MAX_LENGTH = 40;
    const MIN_LENGTH = 3;
    const MAX_PASSWORD_LENGTH = 60;

    document.addEventListener("DOMContentLoaded", () => {
        initEmailValidation();
        initDocumentValidation();
        initValidarApellido();
        initValidarNombre();
    });

    function initValidarApellido() {
        if (!apellido) return;
        let value;
        apellido.addEventListener("blur", function (e) {
            value = this.value.trim();
            if (isEmpty(value)) {
                setError(apellido, "Este campo es requerido.");
            } else if (!onlyLetters(value)) {
                setError(apellido, "Solo se permiten letras (a-zA-Z), y espacios en blanco.");
            } else if (!minLength(value, MIN_LENGTH)) {
                setError(apellido, "Aumenta la longitud a " + MIN_LENGTH + " caracteres como mínimo.");
            } else if (!maxLength(value, MAX_LENGTH)) {
                setError(apellido, "Reduce la longitud a " + MAX_LENGTH + " caracteres o menos.")
            } else {
                setSuccess(apellido);
            }
        });
    }

    function initValidarNombre() {
        if (!nombre) return;
        let value;
        nombre.addEventListener("blur", function (e) {
            value = this.value.trim();
            if (isEmpty(value)) {
                setError(nombre, "Este campo es requerido.");
            } else if (!onlyLetters(value)) {
                setError(nombre, "Solo se permiten letras (a-zA-Z), y espacios en blanco.");
            } else if (!minLength(value, MIN_LENGTH)) {
                setError(nombre, "Aumenta la longitud a " + MIN_LENGTH + " caracteres como mínimo.");
            } else if (!maxLength(value, MAX_LENGTH)) {
                setError(nombre, "Reduce la longitud a " + MAX_LENGTH + " caracteres o menos.")
            } else {
                setSuccess(nombre);
            }
        });
    }

    function initDocumentValidation() {
        if (!usuario) return;
        let value, data;
        usuario.addEventListener("blur", function (e) {
            value = this.value.trim();
            if (isEmpty(value)) {
                setError(usuario, "Este campo es requerido.");
            } else if (validDocument(value)) {
                data = "usuario=" + encodeURIComponent(value);
                sendHttpRequest('POST', 'usuario_document_exists.php', data, documentNumberExists);
            } else {
                setError(usuario, "El formato o el número de documento ingresado no es válido.");
            }
        });
    }

    function documentNumberExists(response) {
        if (response == "ok") {
            setSuccess(usuario);
        } else {
            setError(usuario, "Este número de documento ya se encuentra registrado.");
        }
    }

    function initEmailValidation() {
        if (!email) return;
        let value, data;
        email.addEventListener("blur", function (e) {
            value = this.value.trim();
            if (isEmpty(value)) {
                setError(email, "Este campo es requerido.");
            } else if (validEmail(value)) {
                data = "email=" + encodeURIComponent(value.toLowerCase());
                sendHttpRequest('POST', 'usuario_email_exists.php', data, emailExists);
            } else {
                setError(email, "El correo electrónico no es válido.");
            }
        });
    }

    function emailExists(response) {
        // var rta = Boolean(response);
        if (response == "ok") {
            setSuccess(email);
        } else {
            setError(email, "Este correo electrónico ya se encuentra registrado.");
        }
    }
</script>