<section class="section" style="max-width: 370px;">
    <div class="mb-3 text-center">
        <a href="/"><img src="img/logo-cdm0-edit.png" alt="logo casa del maestro" width="72" class="mb-3"></a>
        <h1 class="h2">Restablecer contraseña</h1>
    </div>

    <form action="/usuario_reset_password.php" method="POST">
        <input type="hidden" name="token" value="<?= Token::csrf(); ?>" readonly spellcheck="false" autocomplete="off"
            autocorrect="off" autocapitalize="off">
        <div class="form-group">
            <label for="password">Nueva contraseña</label>
            <input type="password" name="password" id="password"
                class="form-control <?= isset($errors['password']) ? 'is-invalid' : ''; ?>"
                value="<?= $usuario['password']; ?>" spellcheck="false" autocomplete="off" autocorrect="off"
                autocapitalize="off">
            <div class="invalid-feedback"><?= $errors['password'] ?? ''; ?></div>
        </div>

        <div class="form-group">
            <label for="confirm-password">Confirmar nueva contraseña</label>
            <input type="password" name="confirm_password" id="confirm-password"
                class="form-control <?= isset($errors['confirm_password']) ? 'is-invalid' : ''; ?>"
                value="<?= $usuario['confirm_password']; ?>" spellcheck="false" autocomplete="off" autocorrect="off"
                autocapitalize="off">
            <div class="invalid-feedback"><?= $errors['confirm_password'] ?? ''; ?></div>
        </div>

        <button type="submit" class="btn btn-success btn-block">Restablecer contraseña</button>
    </form>
</section>