<section class="section">

    <div class="mb-3">
        <h1 class="h2">
            <?= htmlspecialchars($title); ?>
        </h1>
    </div>

    <form action="#" method="post" class="asociado">
        <input type="hidden" name="token" value="<?= htmlspecialchars(Token::csrf()); ?>" readonly spellcheck="false"
            autocomplete="off" autocorrect="off" autocapitalize="off">

        <div class="form-group">
            <label for="apellido">Apellidos *</label>
            <input type="text" name="apellido" id="apellido"
                class="form-control <?= isset( $errors['apellido'] ) ? 'is-invalid' : ''; ?>"
                value="<?= $asociado['apellido']; ?>" spellcheck="false" autocomplete="off" autocorrect="off"
                autocapitalize="off" maxlength="40">
            <div class="invalid-feedback">
                <?= $errors['apellido'] ?? ''; ?>
            </div>
        </div>

        <div class="form-group">
            <label for="nombre">Nombres *</label>
            <input type="text" name="nombre" id="nombre"
                class="form-control <?= isset($errors['nombre']) ? 'is-invalid' : ''; ?>"
                value="<?= $asociado['nombre']; ?>" spellcheck="false" autocomplete="off" autocorrect="off"
                autocapitalize="off" maxlength="40">
            <div class="invalid-feedback">
                <?= $errors['nombre'] ?? ''; ?>
            </div>
        </div>

        <div class="form-group">
            <label for="fecha-nacimiento">Fecha de nacimiento (dd/mm/aaaa) *</label>
            <input type="text" name="fecha_nacimiento" id="fecha-nacimiento"
                class="form-control <?= isset($errors['fecha_nacimiento']) ? 'is-invalid' : ''; ?>"
                value="<?= $asociado['fecha_nacimiento']; ?>" spellcheck="false" autocomplete="off" autocorrect="off"
                autocapitalize="off">
            <div class="invalid-feedback">
                <?= $errors['fecha_nacimiento'] ?? ''; ?>
            </div>
        </div>

        <div class="form-group">
            <label for="tipo-documento">Tipo de documento *</label>
            <select name="tipo_documento" id="tipo-documento"
                class="custom-select <?= isset($errors['tipo_documento']) ? 'is-invalid' : ''; ?>">
                <option value="">- Seleccionar -</option>
                <option value="DNI">DNI (Documento Nacional de Identidad)</option>
                <option value="LC">LC (Libreta Cívica)</option>
                <option value="LE">LE (Libreta de Enrolamiento)</option>
                <!-- <option value="PAS">PAS (Pasaporte)</option> -->
            </select>
            <div class="invalid-feedback">
                <?= $errors['tipo_documento'] ?? '';  ?>
            </div>
        </div>

        <div class="form-group">
            <label for="num-documento">Número de documento (ocho dígitos) *</label>
            <input type="text" name="num_documento" id="num-documento"
                class="form-control <?= isset($errors['num_documento']) ? 'is-invalid' : ''; ?>" data-toggle="tooltip"
                data-placement="left" title="Completar con ceros a la izquierda si es necesario"
                value="<?= $asociado['num_documento']; ?>" spellcheck="false" autocomplete="off" autocorrect="off"
                autocapitalize="off">
            <div class="invalid-feedback">
                <?= $errors['num_documento'] ?? '';  ?>
            </div>
        </div>

        <div class="form-group">
            <label for="num-cuil">Número de cuil *</label>
            <a class="form-sublink" href="http://www0.unsl.edu.ar/~jolguin/cuit.php" target="_blank">Cálculo de
                CUIT/CUIL</a>
            <input type="text" name="num_cuil" id="num-cuil"
                class="form-control <?= isset($errors['num_cuil']) ? 'is-invalid' : ''; ?>" data-toggle="tooltip"
                data-placement="left" title="Sin guiones, puntos, espacios u otros símbolos"
                value="<?= $asociado['num_cuil']; ?>" spellcheck="false" autocomplete="off" autocorrect="off"
                autocapitalize="off">
            <div class="invalid-feedback">
                <?= $errors['num_cuil'] ?? '';  ?>
            </div>
        </div>

        <div class="form-group">
            <label for="condicion-ingreso">Condición de ingreso *</label>
            <select name="condicion_ingreso" id="condicion-ingreso"
                class="custom-select <?= isset($errors['condicion_ingreso']) ? 'is-invalid' : ''; ?>">
                <option value="">- Seleccionar -</option>
                <option value="ACTIVO">ACTIVO</option>
                <option value="ADHERENTE">ADHERENTE</option>
                <option value="JUBILADO">JUBILADO</option>
            </select>
            <div class="invalid-feedback">
                <?= $errors['condicion_ingreso'] ?? '';  ?>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" id="email"
                class="form-control <?= isset($errors['email']) ? 'is-invalid' : ''; ?>"
                value="<?= $asociado['email']; ?>" spellcheck="false" autocomplete="off" autocorrect="off"
                autocapitalize="off">
            <div class="invalid-feedback">
                <?= $errors['email'] ?? ''; ?>
            </div>
        </div>

        <div class="form-group">
            <label for="telefono-movil">Teléfono móvil *</label>
            <input type="text" name="telefono_movil" id="telefono-movil"
                class="form-control <?= isset($errors['telefono_movil']) ? 'is-invalid' : ''; ?>"
                value="<?= $asociado['telefono_movil']; ?>" data-toggle="tooltip" data-placement="left"
                title="Ingresá tu número de celular con código de área, sin espacios, puntos u otros símbolos."
                spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">
            <div class="invalid-feedback">
                <?= $errors['telefono_movil'] ?? ''; ?>
            </div>
        </div>

        <div class="form-group">
            <label for="telefono-linea">Teléfono de línea</label>
            <input type="text" name="telefono_linea" id="telefono-linea"
                class="form-control <?= isset($errors['telefono_linea']) ? 'is-invalid' : ''; ?>"
                value="<?= $asociado['telefono_linea']; ?>" data-toggle="tooltip" data-placement="left"
                title="Ingresá tu número de teléfono con código de área, sin espacios, puntos u otros símbolos."
                spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">
            <div class="invalid-feedback">
                <?= $errors['telefono_linea'] ?? ''; ?>
            </div>
        </div>

        <div class="form-group">
            <label for="domicilio">Domicilio *</label>
            <input type="text" name="domicilio" id="domicilio"
                class="form-control <?= isset($errors['domicilio']) ? 'is-invalid' : ''; ?>"
                value="<?= $asociado['domicilio']; ?>" spellcheck="false" autocomplete="off" autocorrect="off"
                autocapitalize="off">
            <div class="invalid-feedback">
                <?= $errors['domicilio'] ?? ''; ?>
            </div>
        </div>

        <div class="form-group">
            <label for="id-provincia">Provincia *</label>
            <select name="id_provincia" id="id-provincia"
                class="custom-select <?= isset($errors['id_provincia']) ? 'is-invalid' : ''; ?>">
                <option value="">- Seleccionar -</option>
                <option value="1">BUENOS AIRES</option>
                <option value="2">CATAMARCA</option>
                <option value="3">CHACO</option>
                <option value="4">CHUBUT</option>
                <option value="5">CIUDAD AUTONOMA DE BUENOS AIRES</option>
                <option value="6">CORDOBA</option>
                <option value="7">CORRIENTES</option>
                <option value="8">ENTRE RIOS</option>
                <option value="9">FORMOSA</option>
                <option value="10">JUJUY</option>
                <option value="11">LA PAMPA</option>
                <option value="12">LA RIOJA</option>
                <option value="13">MENDOZA</option>
                <option value="14">MISIONES</option>
                <option value="15">NEUQUEN</option>
                <option value="16">RIO NEGRO</option>
                <option value="17">SALTA</option>
                <option value="18">SAN JUAN</option>
                <option value="19">SAN LUIS</option>
                <option value="20">SANTA CRUZ</option>
                <option value="21">SANTA FE</option>
                <option value="22">SANTIAGO DEL ESTERO</option>
                <option value="23">TIERRA DEL FUEGO</option>
                <option value="24">TUCUMAN</option>
            </select>
            <div class="invalid-feedback">
                <?= $errors['id_provincia'] ?? ''; ?>
            </div>
        </div>

        <div class="form-group">
            <label for="id-localidad">Localidad *</label>
            <select name="id_localidad" id="id-localidad"
                class="custom-select <?= isset($errors['id_localidad']) ? 'is-invalid' : ''; ?>">
                <option value="">- Seleccionar -</option>
                <?php foreach($localidades as $localidad) : ?>
                <option value="<?= $localidad['id_localidad'] ?>">
                    <?= $localidad['nombre'] . ' (' . $localidad['cp'] . ')'; ?>
                </option>
                <?php endforeach; ?>
            </select>
            <div class="invalid-feedback">
                <?= $errors['id_localidad'] ?? ''; ?>
            </div>
        </div>

        <div class="form-group">
            <label for="sexo">Sexo *</label>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input <?= isset($errors['sexo']) ? 'is-invalid' : ''; ?>"
                    id="femenino" name="sexo" value="F">
                <label class="custom-control-label" for="femenino" style="font-weight: normal;">Femenino</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input <?= isset($errors['sexo']) ? 'is-invalid' : ''; ?>"
                    id="masculino" name="sexo" value="M">
                <label class="custom-control-label" for="masculino" style="font-weight: normal;">Masculino</label>
                <div class="invalid-feedback">
                    <?= $errors['sexo'] ?? ''; ?>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary"><?= $edit ? 'Guardar' : 'Registrar'; ?></button>
        <!-- Bajo el atributo required en los elementos select, no se puede usar el botón cancelar que enviá al servidor
            la solicitud de cancelación, ya que si no se ha elegido alguna opción de las distintas listas desplegables
            no podremos cancelar la operación, por lo tanto se utiliza aquí un link con el atributo href a la raíz. -->
            <!-- <a href="/" class="btn btn-secondary">Cancelar</a> -->
        <button type="submit" class="btn btn-secondary" name="cancel">Cancelar</button>
    </form>
</section>
<script>
    // document.querySelector('#sexo').value = "<?= $asociado['sexo']; ?>";
    document.querySelector('#tipo-documento').value = "<?= $asociado['tipo_documento']; ?>";
    document.querySelector('#condicion-ingreso').value = "<?= $asociado['condicion_ingreso']; ?>";
    document.querySelector('#id-provincia').value = "<?= $asociado['id_provincia']; ?>";
    document.querySelector('#id-localidad').value = "<?= $asociado['id_localidad']; ?>";

    const radios = document.querySelectorAll('input[name="sexo"]');
    // console.log(radios);
    radios.forEach(radio => {
        if (radio.value == "<?= $asociado['sexo']; ?>") {
            radio.checked = true;
        }
    });
</script>