<?php
$data['id_asociado'] = htmlspecialchars($data['id_asociado']);
?>
<section class="">

    <div class="mb-3">
        <h1 class="h2">
            <?= htmlspecialchars( $data['apellido'] . " " . $data['nombre'] ); ?>
        </h1>
    </div>

    <div class="row">

        <div class="col-md-6">
            <table class="table table-sm table-borderless">
                <tr>
                    <th>Fecha de registro</th>
                    <td><?= htmlspecialchars($data['created'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                </tr>
                <tr>
                    <th>Sexo</th>
                    <td><?= htmlspecialchars($data['sexo'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                </tr>
                <tr>
                    <th>Fecha de nacimiento</th>
                    <td><?= htmlspecialchars($data['fecha_nacimiento'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                </tr>
                <tr>
                    <th>Documento</th>
                    <td><?= htmlspecialchars($data['tipo_documento'] . ' - ' . $data['num_documento'], ENT_NOQUOTES, 'UTF-8'); ?>
                    </td>
                </tr>
                <tr>
                    <th>Número de cuil</th>
                    <td><?= htmlspecialchars($data['num_cuil'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                </tr>
                <tr>
                    <th>Tipo de asociado</th>
                    <td><?= htmlspecialchars($data['condicion_ingreso'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                </tr>
                <tr>
                    <th>Correo electrónico</th>
                    <td><?= htmlspecialchars($data['email'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                </tr>
                <tr>
                    <th>Teléfono móvil</th>
                    <td><?= htmlspecialchars($data['telefono_movil'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                </tr>
                <tr>
                    <th>Teléfono de línea</th>
                    <td><?= htmlspecialchars($data['telefono_linea'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                </tr>
                <tr>
                    <th>Domicilio</th>
                    <td><?= htmlspecialchars($data['domicilio'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                </tr>
                <tr>
                    <th>Localidad</th>
                    <td><?= ucwords( htmlspecialchars($data['localidad'], ENT_NOQUOTES, 'UTF-8') ); ?></td>
                </tr>
                <tr>
                    <th>Código postal</th>
                    <td><?= htmlspecialchars($data['cp'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                </tr>
                <tr>
                    <th>Provincia</th>
                    <td><?= ucwords( htmlspecialchars($data['provincia'], ENT_NOQUOTES, 'UTF-8') ); ?></td>
                </tr>
                <tr>
                    <th colspan="2">&nbsp;</th>
                </tr>
                <tr>
                    <td>
                        <a href="/" class="" title="Volver a la lista">
                            <i class="material-icons back">fast_rewind</i> a la lista
                        </a>
                    </td>
                    <td>
                        <div class="actions">
                            <!-- Acción editar: método de envío GET -->
                            <a href="/asociado_agregar_editar.php?aid=<?= $data['id_asociado']; ?>"
                                title="Editar registro"><i class="material-icons edit">edit</i></a>
                            <!-- Acción eliminar: método de envío POST -->
                            <form action="/asociado_eliminar.php" method="POST" style="display: inline-block;"
                                title="Eliminar registro">
                                <input type="hidden" name="token" value="<?= Token::csrf(); ?>">
                                <input type="hidden" name="aid" value="<?= $data['id_asociado']; ?>">
                                <button type="submit" class="icon-style"
                                    onclick="return confirm('Este registro será eliminado. ¿Estás seguro?');"><i
                                        class="material-icons delete">delete</i></button>
                            </form>
                            <!-- <form action="/pdf_report.php" method="POST" style="display: inline-block;"
                                    title="Exportar registro en pdf" target="_blank">
                                    <input type="hidden" name="token" value="">
                                    <input type="hidden" name="aid" value="">
                                    <button type="submit" class="icon-style"><i class="material-icons pdf">picture_as_pdf</i></button>
                                </form> -->
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            <a href="/generar_pdf.php?aid=<?= $data['id_asociado']; ?>" title="Exportar registro en pdf"
                target="_blank">
                <i class="material-icons pdf">picture_as_pdf</i>
            </a>
        </div>

    </div>

</section>

<!-- Todo lo que viene a continuación genera la ventana modal para eliminar-->
<style>
    #delete-dialog {
        z-index: 1002;
        padding: 1rem;
        height: auto;
        width: auto;
        position: fixed;
        border: 1px solid rgba(0, 0, 0, .2);
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        background: #fff;
        font-size: 14px;
    }

    .backdrop {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(25, 25, 25, .5);
        z-index: 1001;
    }
</style>

<!-- <a href="/asociado_eliminar.php?aid=<?= $data['id_asociado']; ?>" id="delete-link" title="Delete it.">
    <i class="material-icons multi">delete</i>
</a> -->

<div class="backdrop">

    <div id="delete-dialog" title="¿Eliminar este registro?">
        <p>Este registro será eliminado. ¿Estás seguro?</p>
        <div style="display:flex;justify-content: flex-end;">
            <button id="ok-btn" style="margin-right: .25rem;">Aceptar</button>
            <button id="cancel-btn" style="margin-left: .25rem;">Cancelar</button>
        </div>
    </div>

</div>

<script>

    let deleteLink = document.querySelector('#delete-link');
    let backdrop = document.querySelector('.backdrop');

    document.addEventListener('DOMContentLoaded', () => {
        initDeleteDialog();

        // Detectar la tecla escape
        // document.onkeydown = function (evt) {
        //     evt = evt || window.event;
        //     if (evt.keyCode == 27) {
        //         closeDeleteDialog();
        //     }
        // };
    });

    function initDeleteDialog() {
        if (!deleteLink) {
            return;
        }
        document.querySelector('#ok-btn').onclick = () => {
            closeDeleteDialog();
            // href = asociado_eliminar.php?aid=3;
            location.href = deleteLink.href; // Solicitud equivalente a GET en PHP
        }
        document.querySelector('#cancel-btn').onclick = () => {
            closeDeleteDialog();
        }
        deleteLink.onclick = () => {
            backdrop.style.display = 'block';
            return false;
        }
    }

    function closeDeleteDialog() {
        backdrop.style.display = "none";
    }
</script>