<section class="" style="max-width: 540px;">

    <div class="mb-4">
        <h1 class="h2">
            <i class="material-icons align-middle">person</i>
            <?= htmlspecialchars( $data['apellido'] . " " . $data['nombre'] ); ?>
        </h1>
    </div>

    <table class="table table-borderless table-sm detail">
        <tbody>
            <tr>
                <th>Fecha de Alta</th>
                <td><?= htmlspecialchars($data['created'], ENT_NOQUOTES, 'UTF-8'); ?></td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td><?= htmlspecialchars($data['sexo'], ENT_NOQUOTES, 'UTF-8'); ?></td>
            </tr>
            <tr>
                <th>Fecha de Nacimiento</th>
                <td><?= htmlspecialchars($data['fecha_nacimiento'], ENT_NOQUOTES, 'UTF-8'); ?></td>
            </tr>
            <tr>
                <th>Documento</th>
                <td><?= htmlspecialchars($data['tipo_documento'] . ' - ' . $data['num_documento'], ENT_NOQUOTES, 'UTF-8'); ?>
                </td>
            </tr>
            <tr>
                <th>Número de Cuil</th>
                <td><?= htmlspecialchars($data['num_cuil'], ENT_NOQUOTES, 'UTF-8'); ?></td>
            </tr>
            <tr>
                <th>Condición de Ingreso</th>
                <td><?= htmlspecialchars($data['condicion_ingreso'], ENT_NOQUOTES, 'UTF-8'); ?></td>
            </tr>
            <tr>
                <th>Correo Electrónico</th>
                <td><?= htmlspecialchars($data['email'], ENT_NOQUOTES, 'UTF-8'); ?></td>
            </tr>
            <tr>
                <th>Teléfono Móvil</th>
                <td><?= htmlspecialchars($data['telefono_movil'], ENT_NOQUOTES, 'UTF-8'); ?></td>
            </tr>
            <tr>
                <th>Teléfono de Línea</th>
                <td><?= htmlspecialchars($data['telefono_linea'], ENT_NOQUOTES, 'UTF-8'); ?></td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td><?= htmlspecialchars($data['domicilio'], ENT_NOQUOTES, 'UTF-8'); ?></td>
            </tr>
            <tr>
                <th>Localidad</th>
                <td><?= ucwords( htmlspecialchars($data['localidad'], ENT_NOQUOTES, 'UTF-8') ); ?></td>
            </tr>
            <tr>
                <th>Código Postal</th>
                <td><?= htmlspecialchars($data['cp'], ENT_NOQUOTES, 'UTF-8'); ?></td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td><?= ucwords( htmlspecialchars($data['provincia'], ENT_NOQUOTES, 'UTF-8') ); ?></td>
            </tr>
            <tr>
                <th colspan="2">&nbsp;</th>
            </tr>
            <tr>
                <td>
                    <a href="/" class="" title="Volver a la lista"><i class="material-icons">fast_rewind</i> Volver</a>
                </td>
                <td>
                    <!-- Enviamos el aid por GET -->
                    <a href="/add-edit.php?aid=<?= $data['id_asociado']; ?>" title="Editar registro"><i
                            class="material-icons">edit</i></a>
                    <a href="/asociado_eliminar.php?aid=<?= $data['id_asociado']; ?>" title="Eliminar registro"
                        id="delete-link"><i class="material-icons">delete</i></a>
                    <!-- Enviamos el aid a eliminar por POST  -->
                    <form action="/asociado_eliminar.php" method="POST" style="display: inline-block;"
                        title="Eliminar registro">
                        <input type="hidden" name="token" value="<?= Token::csrf(); ?>">
                        <input type="hidden" name="aid" value="<?= $data['id_asociado']; ?>">
                        <button type="submit" class="icon-style"
                            onclick="return confirm('¿Desea eliminar el registro?');"><i
                                class="material-icons">delete</i></button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<style>
    #delete-dialog {
        display: none;
        z-index: 1002;
        padding: 1rem;
        outline: 0;
        height: auto;
        position: fixed;
        border: 1px solid rgba(0, 0, 0, .2);
        width: auto;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        background: white;
        font-size: 14px;
        /* box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4); */
    }

    .backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        /* background-color: #8c8c8c; */
        z-index: 100;
    }
</style>

<div id="delete-dialog" title="¿Eliminar este registro?">
    <p>Este registro será eliminado. ¿Estás seguro?</p>
    <div style="display:flex;justify-content: flex-end;">
        <button id="btn-aceptar" style="margin: .25rem;">Aceptar</button>
        <button id="btn-cancelar" style="margin: .25rem;">Cancelar</button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        initDeleteDialog();
    });

    function initDeleteDialog() {
        if (document.querySelector('#delete-dialog')
            && document.querySelector('#delete-link')
            && document.querySelector('#btn-aceptar')
            && document.querySelector('#btn-cancelar')) {
            var backdrop;
            var deleteDialog = document.querySelector('#delete-dialog');
            var deleteLink = document.querySelector('#delete-link');
            var btnAceptar = document.querySelector('#btn-aceptar');
            var btnCancelar = document.querySelector('#btn-cancelar');

            deleteLink.onclick = () => {
                deleteDialog.style.display = 'block';
                backdrop = document.createElement('div');
                backdrop.classList.add('backdrop');
                document.body.appendChild(backdrop);

                // backdrop.addEventListener('click', () => {
                //     backdrop.remove();
                //     deleteDialog.style.display = 'none';
                // });
                return false;
            }
            btnCancelar.onclick = () => {
                deleteDialog.style.display = 'none';
                backdrop.remove();
                return false;
            }
            btnAceptar.onclick = () => {
                location.href = deleteLink.getAttribute('href');
                deleteDialog.style.display = 'none';
                backdrop.remove();
            }
        }
    }
</script>