<section>
    <div class="row align-items-center mb-3">
        <div class="col">
            <h1 class="h2">Asociados <a href="/asociado_agregar_editar.php" title="Agregar asociado"><i
                        class="material-icons align-middle">add_circle</i></a>
            </h1>
            <!-- <a href="/add-edit.php" class="btn btn-primary btn-sm" title="Agregar asociado">Agregar</a> -->
        </div>
        <div class="col-auto">
            <form method="post" action="/reports.php">
                <fieldset>
                    <span class="">Exportar como: &nbsp;</span>
                    <input type="radio" name="format" id="pdf" value="pdf"> <label for="pdf" class="font-weight-normal">pdf</label>&nbsp;
                    <input type="radio" name="format" id="xls" value="xls" checked> <label for="xls" class="font-weight-normal">xls</label>&nbsp;
                    <input type="radio" name="format" id="xlsx" value="xlsx"> <label for="xlsx" class="font-weight-normal">xlsx</label>&nbsp;
                    <input type="submit" value="Exportar" class="btn btn-success btn-sm mb-1">
                </fieldset>
            </form>
            <!-- <a href="" class="btn btn-light btn-sm" title="Exportar en pdf"><i
                    class="material-icons pdf">picture_as_pdf</i></a>
            <a href="/exportar_excel.php" class="btn btn-light btn-sm" title="Exportar en excel">
                <img src="/img/microsoft-excel-2019-48.svg" alt="Icono de excel exportar"
                    style="height: 22px;vertical-align: bottom;"></a> -->
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm" id="tabla-asociado" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Cuil</th>
                    <th>Condición</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php 
                $count = 1;
                foreach ($asociados as $asociado) : ?>
                <tr>
                    <td><?= $count++; ?></td>
                    <td><?= htmlspecialchars($asociado['apellido'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                    <td><?= htmlspecialchars($asociado['nombre'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                    <td><?= htmlspecialchars($asociado['num_documento'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                    <td><?= htmlspecialchars($asociado['num_cuil'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                    <td><?= htmlspecialchars($asociado['condicion_ingreso'], ENT_NOQUOTES, 'UTF-8'); ?></td>
                    <td class="text-center">
                        <a href="/asociado_detalle.php?aid=<?= $asociado['id_asociado']; ?>" title="Más"><i
                                class="material-icons">info</i></a>
                    </td>
                </tr>
                <?php endforeach ?>
            </tbody>
        </table>
    </div>
</section>