</main>
<footer class="text-center" style="padding-bottom: 2rem;">
    <p class="small">&copy; Copyright by Neo | <?= get_date(); ?></p>
</footer>
<a class="cd-top js-cd-top" title="Subir">Top</a>


<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<!-- DataTabales -->
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
        $('#id-provincia').select2({
            theme: 'bootstrap4',
            language: {
                noResults: function () { return "No se encontraron resultados" }
            }
        });
        
        $('#id-localidad').select2({
            // placeholder: '- Seleccione una opción -',
            // allowClear: true,
            theme: 'bootstrap4',
            minimumInputLength: 3,
            language: {
                inputTooShort: function (e) {
                    var n = e.minimum - e.input.length, r = "Por favor, introduzca " + n + " car"; return r += 1 == n ? "ácter" : "acteres";
                },
                noResults: function () { return "No se encontraron resultados"; }
            }
        });
    });
</script>

<script src="js/functions.js"></script>
<script src="js/main.js"></script>
<script src="js/back-to-top.js"></script>
</body>

</html>