</main>
<footer class="text-center" style="padding-bottom: 2rem;">
    <p class="small">&copy; Copyright by Neo | <?= get_date(); ?></p>
</footer>
<a class="cd-top js-cd-top" title="Subir">Top</a>

<script src="bsjs/jquery-3.5.1.slim.min.js"></script>
<script src="bsjs/popper.min.js"></script>
<script src="bsjs/util.js"></script>
<script src="bsjs/alert.js"></script>
<script src="bsjs/tooltip.js"></script>
<!-- DataTabales -->
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

<script src="js/main.js"></script>
<script src="js/back-to-top.js"></script>
</body>

</html>